@import 'fonts';
@import 'constants';



html,
body {
    padding: 0;
    margin: 0;
    background: $primary;
    color: $secondary;
    font-family: 'Playfair Display';
}

body::before {
    // activate for noise effect
    animation: grain 8s steps(10) infinite;
    background-image: url(/noise.png);

    // invert colors for white grain
    filter: invert(1);

    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.8;
    position: fixed;
    top: -100%;
    width: 300%;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: $secondary;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: 2px solid;
}