---
---

<form method="PUT">
    <input type="text" id="email" name="email" placeholder="Email" required />
    <button>
        <span>Learn More</span>
    </button>
</form>

<script is:inline>
    const form = document.querySelector("form");
    const catchPhrase = document.querySelector(".catchphrase-secondary");
    const catchPhraseMain = document.querySelector(".catchphrase-main");

    const url = "https://api.server.conqret.com/email"; 
    // const url = "http://localhost:3001/email"; 

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const email = form.querySelector('input[name="email"]');
        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'x-api-conqret': 'conqret-is-awesome'
            },
            body: JSON.stringify({'email': email.value})
        };

        fetch(url, options)

        // change style after submit
        form.style.display = 'None';
        catchPhraseMain.style.display = 'None';
        catchPhrase.innerHTML = "Let's find out.";
    })

</script>

<style lang="scss">
    @import "../styles/constants";

    form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
        flex-direction: column;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);

        @include for-desktop-up {
            flex-direction: row;
        }
    }

    input {
        background-color: $secondary;
        font-family: "Playfair Display";
        font-size: 1.5rem;
        padding: 1px 10px;
        font-style: italic;
        color: $black;
        height: 50px;
        margin: 20px;

        box-shadow: 5px 5px $black;
        border: 1px solid $black;

        outline: none;

        @include for-desktop-up {
            flex-direction: row;
            margin: 0;
        }
    }

    input::placeholder {
        opacity: 1;
    }

    button {
        font-family: "Bebas Neue";
        font-size: 1.5em;
        background: $black;
        margin-left: 1em;
        margin-top: 10px;
        // box-shadow: 5px 5px $black;

        color: inherit;
        cursor: pointer;
        outline: inherit;
        border: none;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    button span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $tertiary;
        border: 1px solid $black;
        height: 50px;
        width: 120px;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        transform: translate3d(-5px, -5px, 0);
    }

    button:hover span {
        transform: translate3d(-10px, -10px, 0);
    }
</style>
