---
import EmailForm from "./EmailForm.astro";
---

<div class="hero-container">
    <div class="hero-row">
        <div class="logo-bg">
            <h1>AI</h1>
        </div>
        <div class="logo-main">
            <h1>conqrèt</h1>
        </div>
    </div>
    <div class="hero-row">
        <h2 class="catchphrase-main">
            <p>Sound is the <span class="italic">vocabulary</span></p>
            <p>of <span class="italic">Nature</span>.</p>
        </h2>
        <h2 class="catchphrase-secondary">Or is it?</h2>
        <EmailForm />
    </div>
</div>

<style lang="scss">
    @import "../styles/constants";

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        height: 75vh;
    }

    .hero-row {
        margin: 0 80px;
    }

    .logo-main {
        font-family: "Bebas Neue";
        font-size: 3em;
        text-shadow: 5px 5px $black;
        margin-top: -10em;
    }

    .logo-bg {
        font-family: "DM Serif Display";
        font-size: 12rem;
        color: rgba($color: $primary, $alpha: 1);
        text-shadow: -1px -1px 0 $tertiary, 0 -1px 0 $tertiary,
            1px -1px 0 $tertiary, 1px 0 0 $tertiary, 1px 1px 0 $tertiary,
            0 1px 0 $tertiary, -1px 1px 0 $tertiary, -1px 0 0 $tertiary;
    }

    .italic {
        font-style: italic;
    }

    .catchphrase-main {
        color: $white;
        font-size: 3rem;
        line-height: 1.2;
    }

    .catchphrase-secondary {
        font-family: "DM Serif Display";
        font-style: italic;
        text-shadow: 5px 5px $black;
        font-size: 4rem;
    }
</style>
