---
import EmailForm from "./EmailForm.astro";
---

<div class="hero-container">
    <div>
        <h1 class="logo-main">conqrèt</h1>
        <h1 class="logo-bg">AI</h1>
    </div>
    <div>
        <h2 class="catchphrase-main">
            <p>Sound is the <span class="italic">vocabulary</span></p>
            <p>of <span class="italic">Nature</span>.</p>
        </h2>
        <h2 class="catchphrase-secondary">Or is it?</h2>
        <EmailForm />
    </div>
</div>

<style lang="scss">
    @import "../styles/constants";

    .hero-container {
        display: flex;
        justify-content: space-between;
    }

    .logo-main {
        font-family: "Bebas Neue";
        font-size: 6em;
        text-shadow: 5px 5px $black;
    }
    .logo-bg {
        font-family: "DM Serif Display";
        font-size: 20em;
        color: rgba($color: $primary, $alpha: 1.0);
        position: fixed;

        // shadow hack to get proper outlining
        text-shadow: -1px -1px 0 $tertiary, 0 -1px 0 $tertiary,
            1px -1px 0 $tertiary, 1px 0 0 $tertiary, 1px 1px 0 $tertiary,
            0 1px 0 $tertiary, -1px 1px 0 $tertiary, -1px 0 0 $tertiary;
    }

    .italic {
        font-style: italic;
    }

    .catchphrase-main {
        color: $white;
        font-size: 3rem;
        line-height: 0.5;
    }

    .catchphrase-secondary {
        font-family: "DM Serif Display";
        font-style: italic;
        text-shadow: 5px 5px $black;
        font-size: 4rem;
    }
</style>
