---
import MainButton from "./MainButton.astro";

---
<nav>
    <ul>
        <li>FAQ</li>
        <li>About</li>
        <MainButton text="Contact" url="https://google.com" />
    </ul>
</nav>

<style lang="scss">

</style>